.App {
  margin: auto;
}

.section{
  background-color: #000;
  height: 100vh;
  padding: 20px;
}

.section2{
  height: 100vh;
  background-color: lightblue;
}

.title{
  color: #FFF;
  font-size: 5rem;
  margin: auto;
  align-content: flex-start;
}

.parr{
  color: #fff;
  font-size: 2rem;
}