.App {
  margin: auto;
}

.section{
  background-color: #000;
  height: 100vh;
  padding: 20px;
}

.section2{
  height: 100vh;
  background-color: lightblue;
}

.title{
  color: #FFF;
  font-size: 7rem;
  margin: auto;
  padding: 20px;

}

.parr{
  color: #fff;
  font-size: 2rem;
}

.buttonportfolio{
  margin-top: 7rem;
  height: 50px;
  width: 300px;
  color: #fff;
  background-color: #30eefb;
  border-radius: 20px;
}